<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year <a asp-area="Painel" asp-controller="Secure" asp-action="Privacy">Privacidade</a>
    </div>
</footer>